/* FCC Front End Development Libraries */

/* Use Responsive Design with Bootstrap Fluid Containers */

/*
.red-text {
    color: red;
}

h2 {
    font-family: Lobster, Monospace;
}

p {
    font-size: 16px;
    font-family: Monospace;
}

.thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
}

.smaller-image {
    width: 100px;
}
*/

/* Make Images Mobile Responsive */
/*
.red-text {
    color: red;
}

h2 {
    font-family: Lobster, Monospace;
}

p {
    font-size: 16px;
    font-family: Monospace;
}

.thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
}

.smaller-image {
    width: 100px;
}
*/

/* Center Text with Bootstrap */
/*
.red-text {
    color: red;
}

h2 {
    font-family: Lobster, Monospace;
}

p {
    font-size: 16px;
    font-family: Monospace;
}

.thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
}

.smaller-image {
    width: 100px;
}
*/

/* Create a Bootstrap Button */
/*
.red-text {
    color: red;
}

h2 {
    font-family: Lobster, Monospace;
}

p {
    font-size: 16px;
    font-family: Monospace;
}

.thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
}

.smaller-image {
    width: 100px;
}
*/

/* Create a Block Element Bootstrap Button */
/*
.red-text {
    color: red;
}

h2 {
    font-family: Lobster, Monospace;
}

p {
    font-size: 16px;
    font-family: Monospace;
}

.thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
}

.smaller-image {
    width: 100px;
}
*/

/* Taste the Bootstrap Button Color Rainbow */
/*
.red-text {
    color: red;
}

h2 {
    font-family: Lobster, Monospace;
}

p {
    font-size: 16px;
    font-family: Monospace;
}

.thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
}

.smaller-image {
    width: 100px;
}
*/

/* Call out Optional Actions with btn-info */
/*
.red-text {
    color: red;
}

h2 {
    font-family: Lobster, Monospace;
}

p {
    font-size: 16px;
    font-family: Monospace;
}

.thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
}

.smaller-image {
    width: 100px;
}
*/

/* Warn Your Users of a Dangerous Action with btn-danger */
/*
.red-text {
    color: red;
}

h2 {
    font-family: Lobster, Monospace;
}

p {
    font-size: 16px;
    font-family: Monospace;
}

.thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
}

.smaller-image {
    width: 100px;
}
*/

/* Use the Bootstrap Grid to Put Elements Side By Side */
/*
.red-text {
    color: red;
}

h2 {
    font-family: Lobster, Monospace;
}

p {
    font-size: 16px;
    font-family: Monospace;
}

.thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
}

.smaller-image {
    width: 100px;
}
*/

/* Ditch Custom CSS for Bootstrap */
/*
h2 {
    font-family: Lobster, Monospace;
}

.thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
}
*/

/* Use a span to Target Inline Elements */